<footer class="foot">
    <section class="newsletter">
        <div class="newstext">
            <h4>Sign Up For newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>Special Offer</span></p>
        </div>
            <div>
                <div class="form-signup">
                    <input type="text" placeholder="Your Email Address">
                    <button>SignUp</button>
                </div>
            </div>
    </section>
    <div class="col foot-section">
        <img class="logo" src="/img/logo.png">
        <h4>Contact</h4>
        <p><strong>Address: </strong>Pawan Vihar, Bareilly, Uttar Pradesh</p>
        <p><strong>Phone: </strong>+91 91490***91</p>
        <p><strong>Time: </strong>10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pintrest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col col-ft">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
    </div>

    <div class="col col-ft">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col col-ft install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="img/pay/app.jpg">
            <img src="img/pay/play.jpg">
        </div>
        <p>Secured Payment Gateway</p>
        <img src="img/pay/pay.png">
    </div>

    <div class="copyright">
        <p>© 2024, Kush e-commerce store</p>
    </div>
</footer>