<nav class="navi">
    <div  class="logo">
        <a href="/listings"><img src="img/logo.png"></a>
    </div>
    <div class="items">
        <ul>
            <li><a class="active" href="/listings">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
        </ul>
    </div>
</nav>