<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navi">
        <div  class="logo">
            <a href="/listings"><img src="img/logo.png"></a>
        </div>
        <div class="items">
            <ul>
                <li><a  href="/listings">Home</a></li>
                <li><a  href="/shop">Shop</a></li>
                <li><a class="active"href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </nav>

<section class="blog-page-img pb-3">
    <h1>#Readmore</h1>
    <span>Read all cases study about Product!</span>
</section>

<section class="blog">
<div class="blog-box">
    <div class="blog-img">
        <img src="img/blog/b1.jpg">
    </div>
    <div class="blog-detail">
        <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
        <p>Kickstarter man braid godard coloring book. Raclette  waistcoat Selfies yr wolf chartreuse hexon irony, godard...</p>
        <a href="#">CONTINUE READING  </a>
    </div>
    <h1>13/01</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
        <img src="img/blog/b2.jpg">
    </div>
    <div class="blog-detail">
        <h4>How to style a Quiff.</h4>
        <p>Kickstarter man braid godard coloring book. Raclette  waistcoat Selfies yr wolf chartreuse hexon irony, godard...</p>
        <a href="#">CONTINUE READING  </a>
    </div>
    <h1>13/01</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
        <img src="img/blog/b3.jpg">
    </div>
    <div class="blog-detail">
        <h4>Must have skater girl Item.</h4>
        <p>Kickstarter man braid godard coloring book. Raclette  waistcoat Selfies yr wolf chartreuse hexon irony, godard...</p>
        <a href="#">CONTINUE READING  </a>
    </div>
    <h1>13/01</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
        <img src="img/blog/b4.jpg">
    </div>
    <div class="blog-detail">
        <h4>Runway Inspired Items</h4>
        <p>Kickstarter man braid godard coloring book. Raclette  waistcoat Selfies yr wolf chartreuse hexon irony, godard...</p>
        <a href="#">CONTINUE READING  </a>
    </div>
    <h1>13/01</h1>
</div>
<div class="blog-box">
    <div class="blog-img">
        <img src="img/blog/b6.jpg">
    </div>
    <div class="blog-detail">
        <h4>AW20 Mens Items.</h4>
        <p>Kickstarter man braid godard coloring book. Raclette  waistcoat Selfies yr wolf chartreuse hexon irony, godard...</p>
        <a href="#">CONTINUE READING  </a>
    </div>
    <h1>13/01</h1>
</div>
</section>

<section class="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
</section>

    <%- include("../includes/footer.ejs") %>
</body>
</html>