<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navi">
        <div  class="logo">
            <a href="/listings"><img src="img/logo.png"></a>
        </div>
        <div class="items">
            <ul>
                <li><a  href="/listings">Home</a></li>
                <li><a class="active" href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </nav>

<section class="prodetails">
    <div class="pro-imgs">
    <div class="single-pro-image">
        <img src="img/products/f1.jpg" class="main-image" width="100%">
    </div>

    <div class="small-image-grp">
        <div class="small-img-col">
        <img src="img/products/f1.jpg" class="small-img" width="100%">
    </div>
    <div class="small-img-col">
        <img src="img/products/f2.jpg" class="small-img" width="100%">
    </div>
    <div class="small-img-col">
        <img src="img/products/f3.jpg" class="small-img" width="100%">
    </div>
    <div class="small-img-col">
        <img src="img/products/f4.jpg" class="small-img" width="100%">
    </div>
</div>
</div>

<div class="single-pro-details">
    <h6>Home / T-Shirt</h6>
    <h4>Men's Fashion T Shirt</h4>
    <h2>$139.00</h2>
    <select >
        <option>Select Size</option>
        <option>XL</option>
        <option>XXL</option>
        <option>Small</option>
        <option>Large</option>
    </select>
    <div class="cart-input-btn">
    <input type="number" value="1">
    <button class="cart-btn">Add to cart</button>
</div>
    <h4>Product Deatils</h4>
    <span>The Gildan Ultra Cotton  T-Shirt is made from a Substantial 6.0 oz. per sq. yd. dabric constructed from 100% cotton, this classic fit preshrunk jersey knit provides unmached comfort with each other, Featureing a taped neck and shoulder, and a seamless double-needle collar, and available in a range of colour, it offer it all in the ultimate head-turning pakage.</span>
</div>

</section>

<section class="feature section-2">
    <h2>Featured Products</h2><br>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="img/products/n1.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n2.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n3.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n4.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n5.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n6.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n7.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n8.jpg">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></i></a>
        </div>
    </div>
</section>

<%- include("../includes/footer.ejs") %>


<script>
    let mainImage = document.getElementsByClassName("main-image")[0];
    let smallImage = document.getElementsByClassName("small-img");

    smallImage[0].onclick = function() {
        mainImage.src = smallImage[0].src;
    }
    smallImage[1].onclick = function() {
        mainImage.src = smallImage[1].src;
    }
    smallImage[2].onclick = function() {
        mainImage.src = smallImage[2].src;
    }
    smallImage[3].onclick = function() {
        mainImage.src = smallImage[3].src;
    }
</script>
</body>
</html>